.table {
	$block-name: &; // #{$block-name}__element

	font-size: var(--font-size--medium);
	border: 0;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;

	&:not(:first-child) {
		margin-top: var(--blocks-margin-vertical);
	}

	&:not(:last-child) {
		margin-bottom: var(--blocks-margin-vertical);
	}

	& th,
	& td {
		font-weight: 400;
		padding: .8em .5em;
		text-align: center;
		position: relative;
		background: var(--color-white);
		color: var(--color-gray--dark);

		&:first-child {
			border-left: none;
			text-align: left;
		}

		&:last-child {
			border-right: none;
		}
	}

	& thead {
		& tr:first-child th,
		& tr:first-child td {
			position: sticky;
			top: 0;
			z-index: 1;
		}

		& tr:first-child th {
			z-index: 2;
			left: 0;
		}

		& th {
			width: 45%;
			min-width: 200px;
			background: var(--color-gray--lighter);
			color: var(--color-gray);
			font-weight: 400;
			font-size: var(--font-size--small);
			line-height: 1;
		}

		& td {
			min-width: 150px;
			background: var(--color-gray--lighter);
			color: var(--color-gray);
			font-weight: 400;
			line-height: 1.5;
			font-size: var(--font-size--small);
		}
	}

	& tbody {
		& th {
			position: sticky;
			left: 0;
			z-index: 1;
			font-size: var(--font-size--small);
			line-height: 1.2;
		}

		& th,
		& td {
			border-bottom: 2px solid var(--color-gray--lighter);
		}
	}
	
	@media (max-width: $screen-md - 1) {
		table-layout: auto;
	}
}