@mixin button {
	align-items: center;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 1.5em;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	margin: 0;
	padding: .5em 2em .6em 2em;
	text-align: center;
	text-decoration: none;
	transition: var(--transition-time);
	font-weight: 500;
	font-size: var(--font-size);
	line-height: var(--line-height);
}

@mixin button--primary {
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	color: var(--color-white);
}

@mixin button--primary-darken {
	background-color: var(--color-primary--darken);
	border: 1px solid var(--color-primary--darken);
	color: var(--color-white);
}

@mixin button--mint {
	background-color: var(--color-mint);
	border: 1px solid var(--color-mint);
	color: var(--color-white);
	display: block;
}

.button {
	
  @include button;

	&--primary {
		@include button--primary;
	}

	&--primary-darken {
		@include button--primary-darken;
	}

	&--mint {
		@include button--mint;
		margin: 0 auto;

		&:hover,
		&:active {
			@include button--primary;
		}
	}
  
  &--not-fill {
		background-color: transparent;
		border-color: var(--color-primary);
		color: var(--color-primary);

		&:hover,
		&:active {
			@include button--primary;
		}
	}

	&--small  {
		display: block;
		padding: .15em .65em;
		border-radius: 100%;

		@media (min-width: $screen-md) {
			display: none;
		}

	}

	&--large {
		display: none;

		@media (min-width: $screen-md) {
			display: block;
			font-size: var(--font-size--medium);
		}
	}
}