-
  let data = {
    "level": "1",
    "items": [
      {
        "title": "Компания",
        "submenu": {
          "level": "2",
          "submenuWrap": true,
          "items": [
            {"title": "О компании"},
            {"title": "Портфолио"},
            {"title": "Отзывы"},
            {"title": "Контакты"}
          ]
        },
      },
      {
        "title": "Услуги",
        "submenu": {
          "level": "2",
          "submenuWrap": true,
          "cssMod": "half-part",
          "items": [
            {
              "title": "Продвижение сайтов",
              "submenu": {
                "level": "3",
                "submenuWrap": true,
                "items": [
                  { "title": "Трафик" },
                  { "title": "Лиды" },
                  { "title": "Недорогое SEO" },
                  { "title": "Интернет-магазины" },
                  { "title": "Молодые сайты" },
                  { "title": "Сайты на Битрикс" },
                  { "title": "Комплексное SEO" },
                  { "title": "Оптимизация" }
                ]
              }
            },
            {
              "title": "SEO-аудит",
              "submenu": {
                "level": "3",
                "submenuWrap": true,
                "items": [
                  { "title": "Коммерческий аудит" },
                  { "title": "Технический аудит" },
                  { "title": "Юзабилити-аудит" }
                ]
              }
            }
          ]
        },
      }
    ]
  };

+menu(data, 'footer-menu')