.footer-menu {

	$block-name: &; // #{$block-name}__element

	&__submenu {
		overflow: hidden;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		position: relative;

		&--lvl1 {
			padding: 0;
		}
	}

	&__dropdown {
    display: none;
	}

	& &__link {
		display: block;
		text-decoration: none;
		cursor: pointer;

		&:hover,
		&:active {
			color: var(--color-primary--light);
		}

		&--lvl1 {
			color: var(--color-mint);
			font-size: var(--font-size--medium);
			font-weight: 500;
		}

		&--lvl2,
		&--lvl3 {
		}
		
	}

	@media (min-width: $screen-md) {
		&__submenu {
			
			&--half-part {
				.footer-menu__list--lvl2 {
					display: flex;
				}
			}
		}

		&__item {
			position: relative;
			margin-right: 20px;
			
			&:last-child {
				margin-right: 0;
			}
		}
		
		&__list {

			&--lvl1 {
				display: flex;
			}

			&--lvl2 {
				margin-top: .25em;
			}
		}

		& &__link {

			&--lvl3 {
				margin-bottom: .5em;
				&:before {
					content:"";
					display: inline-block;
					background-image: url('../../blocks/footer-menu/images/arrow.png');
					background-repeat: no-repeat;
					background-position: center center;
					width: 13px;
					height: 14px;
					vertical-align: middle;
					margin-right: 12px;
				}
			}
		}
	}

	@media (min-width: $screen-lg) {

		&__list {

			&--lvl1 {
			}

			&--lvl2 {
				margin-top: .25em;
			}
		}

		&__item {
			margin-right: 30px;
			
			&:last-child {
				margin-right: 0;
			}

			&--lvl1 {
				border-bottom: none;
				break-inside: avoid;
				page-break-inside: avoid;
			}
		}

		& &__link {

			&--lvl1 {
				padding: 0;
			}
			
			&--lvl2 {
				padding: 0 0 0.75em 0;
				transition: var(--transition-time);
			}

		}
	}
}