.wide-block {
  $block-name: &; // #{$block-name}__element
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;

  &--primary {
    background-color: var(--color-primary);
  }

  &--primary-light {
    background-color: var(--color-primary--light);
  }
  
  &--primary-darken {
    background-color: var(--color-primary--darken);
  }

  &--gray-lighter {
		background-color: var(--color-gray--lighter);
	}

  &--gray-lighten {
		background-color: var(--color-gray--lighten);
	}

  &--gradient {
		background: linear-gradient(0deg, #ECF4FD, #ECF4FD);
    box-shadow: 0px -3px 76px #FFFFFF;
	}

  &--man {
    background-image: url(../../blocks/wide-block/images/man-small.jpg);
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: var(--color-white);

    & .page-container,
    & .page-container__inner {
        position: relative;
    }

    @media (min-width: $screen-md) {
        background-image: url(../../blocks/wide-block/images/man-medium.jpg);
    }

    @media (min-width: $screen-xl) {
        background-image: url(../../blocks/wide-block/images/man-large.jpg);
    }
  }

  &--cases-fon {
    background-image: url(../../blocks/wide-block/images/cases-fon.jpg);
    background-repeat: no-repeat;

    & .page-container,
    & .page-container__inner {
        position: relative;
    }
  }

  @media (min-width: $screen-md) {
    padding-bottom: 4.125rem;
    padding-top: 4.125rem;
  }
}