-
  let dataServices = [
    {
      "title": 'Микрофлекс-сервис',
      "text": 'Компания ООО «Микрофлекс-сервис» представляет на российском рынке продукцию завода MICROFLEX (Бельгия), входящего в состав европейского холдинга Watts Industries Europe B.V., – предизолированные гибки...',
      "image": "assets/logo-rgup-1.jpg"
    },
    {
      "title": 'РГУП «Центр информационных ресурсов и технологий Республики Калмыкия»',
      "text": 'ГУ «Национальный музей Республики Калмыкия им. Н. Н. Пальмова» был основан 25 марта 1921 года и является единственным музеем, где наиболее полно представлена история, культура и искусство калмыцкого н...',
      "image": "assets/logo-rgup-1.jpg"
    },
    {
      "title": 'Руниверс (runivers.ru)',
      "text": 'Ядро проекта – электронная факсимильная библиотека. Сейчас мы выкладываем книги, изданные в России в ХIХ – начале ХХ века, прежде всего по истории, труды русских философов, энциклопедии, сборники доку...',
      "image": "assets/logo-rgup-1.jpg"
    }
  ]
.reviews
  each item, i in dataServices
    .reviews__item
      if (item.image)
        .reviews__img
          img(src=item.image width="170" height="49" alt="")
      .reviews__info
        .reviews__title !{item.title}
        .reviews__text !{item.text}
        a.reviews__link(href="#") ...Читать весь отзыв >