.page-header {

  $block-name: &; // #{$block-name}__element
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    padding-bottom: .5em;
    padding-top: .75em;

    &--hr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &--sw {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: var(--shadow);
    }

    @media (min-width: $screen-md) {
      justify-content: flex-end;
      padding-top: 1em;
      padding-bottom: .75em;
    }
  }

  &__inner-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: inherit;
    padding-top: var(--grid-gutter);
    padding-bottom: var(--grid-gutter);
  }

  &__logo {
    display: block;

    img {
      display: block;
      width: 123px;
    }
  }

  &__burger {
    line-height: 0;
  }

  &__order {
    display: block;
    flex-shrink: 0;
    padding-left: var(--grid-gutter);

    @media (min-width: $screen-md) {
      padding-left: 1.625em;
    }
  }
}