.page-nav {

  .page-container {
    padding-left: 0;
    padding-right: 0;
  }

  &__inner {
  }

  &__logo {
    display: none;

    img {
      display: block;
      width: 123px;
    }

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__menu {

  }

  &__search {
    display: none;
    
    @media (min-width: $screen-md) {
      display: block;
    }
  }

  @media (min-width: $screen-md) {
    .page-container {
      padding-left: var(--grid-gutter);
      padding-right: var(--grid-gutter);
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__menu {
      margin-left: auto;
    }
  }
}