.address
  .address-title Контакты
  ul.address__contacts
    li.address__contacts-item
      svg(xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14")
        path(d="M5.44,0a5.44,5.44,0,0,0-4,9.1l3.77,4.38a.27.27,0,0,0,.12.09.34.34,0,0,0,.28,0,.27.27,0,0,0,.12-.09L9.47,9.1a5.44,5.44,0,0,0-4-9.1ZM9,8.66,5.44,12.74,1.93,8.66a4.75,4.75,0,0,1-.85-5.13A4.67,4.67,0,0,1,2.84,1.46a4.72,4.72,0,0,1,5.2,0A4.67,4.67,0,0,1,9.8,3.53,4.75,4.75,0,0,1,9,8.66ZM5.44,3.06a2.38,2.38,0,0,0-2.2,1.47A2.29,2.29,0,0,0,3.11,5.9,2.37,2.37,0,0,0,5,7.77a2.29,2.29,0,0,0,1.37-.13,2.38,2.38,0,0,0-.91-4.58Zm0,4.08a1.66,1.66,0,0,1-.94-.29,1.67,1.67,0,0,1-.63-.76A1.7,1.7,0,0,1,6.09,3.87a1.67,1.67,0,0,1,.76.63,1.63,1.63,0,0,1,.29.94,1.71,1.71,0,0,1-1.7,1.7Z")
      a(href="#") 1-я Владимирская улица, 31
    li.address__contacts-item
      svg(xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 12")
        path(d="M8.63595 12C6.53229 12 4.28583 11.227 2.52938 9.4706C0.775851 7.71705 0 5.47209 0 3.36405C0 1.50619 1.50309 0 3.36405 0C3.50782 0 3.63708 0.0875156 3.69047 0.220992L5.19673 3.98662C5.26884 4.16691 5.18116 4.37149 5.00091 4.44361L3.34629 5.10544C3.46334 7.00898 4.99132 8.53687 6.89456 8.65376L7.55641 6.99914C7.62837 6.81916 7.83288 6.73116 8.0134 6.8033L11.779 8.30953C11.9125 8.36292 12 8.49218 12 8.63595C12 10.4938 10.4969 12 8.63595 12ZM3.13008 0.713203C1.78364 0.829711 0.703125 1.95879 0.703125 3.36405C0.703125 5.48299 1.52827 7.47511 3.02658 8.9734C4.52487 10.4717 6.51698 11.2969 8.63595 11.2969C10.0408 11.2969 11.1702 10.217 11.2868 8.86992L8.07867 7.58667L7.4561 9.14306C7.40273 9.27654 7.27345 9.36405 7.12969 9.36405C4.65166 9.36405 2.63595 7.34834 2.63595 4.87069C2.63595 4.72695 2.72346 4.59727 2.85694 4.5439L4.41333 3.92133L3.13008 0.713203Z")
      a(href="#") 8(499) 346 8637