.page-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: var(--grid-gutter-x);
	padding-right: var(--grid-gutter-x);
	position: relative;
	width: 100%;
}

.page__breadcrumb {
	padding-top: 1.5em;
	padding-bottom: 1em;
}

.page-container__form {
	margin-left: auto;
	margin-right: auto;
	max-width: 840px;
	padding-left: var(--grid-gutter-x);
	padding-right: var(--grid-gutter-x);
	position: relative;
	width: 100%;
}