.vacancies-block
  .vacancies-block__resume Резюме Вы можете отправить на <a href="mailto:info@iesa.ru">info@iesa.ru</a>
  .vacancies-block__text пометкой Вакансии_<должность>

.vacancies
  .vacancies__item
    .vacancies__description
      .vacancies__img
        img(src="../../blocks/vacancies/images/vac1.jpg" width="85" height="85" alt="")
      .vacancies__info
        .vacancies__title Программист (удаленно)
        .vacancies__date Размещено: 17.08.2014
        .vacancies__text Работа для программиста Битрикс на интересных проектах для крупных компаний: Yamaha-music, Руниверс, Хенкель Рус, MBAConsulting и др.
      .vacancies__salary зарплата по результатам собеседования
    button.vacancies__show-more(data-toggle="vacancies-1") Требования >
    .vacancies__requirements(data-toggle-target="vacancies-1")
      p.-fw-b От Вас необходимо: 
      ul.list
        li Опыт разработки/поддержки проектов на Битрикс (Управление сайтом и Корп. Портал) не менее 2-х лет
        li Опыт разработки интернет магазинов c интеграцией с платежными системами
        li И практические знания: HTML, DHTML, CSS, JS, Jquery, PHP, MySQL
      p.-fw-b От нас:
      ul.list
        li Устройство по ТК
        li Возможность постоянного профессионального роста в молодом амбициозном коллективе
        li Гибкий график