-
  let dataPortfolio = [
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image1.png"
    },
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image2.png"
    },
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image3.png"
    },
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image2.png"
    },
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image3.png"
    },
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image1.png"
    },
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image1.png"
    },
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image2.png"
    },
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image3.png"
    },
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image2.png"
    },
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image3.png"
    },
    {
      "title": 'Интернет магазин архитектурного декора',
      "image": "assets/image1.png"
    }
  ]

.portfolio
  each item, i in dataPortfolio
    a.portfolio__link(href="#").portfolio__item
      .portfolio__img
        img(src=item.image height="272" width="374" alt="")
      .portfolio__title  !{item.title}

button.button.button--mint.-ta-c#loadmore Показать еще


  