-
	let dataServices = [
		{
			"title": 'Продвижение сайтов',
			"price": 'от 63 000 руб.',
			"image": "assets/promotion-sites.png"
		},
		{
			"title": 'Оптимизация сайтов',
			"price": 'от 26 200 руб.',
			"image": "assets/optimization-sites.png"
		},
		{
			"title": 'SEO-аудиты сайтов',
			"price": 'от 31 300 руб.',
			"image": "assets/seo-audit.png"
		}
	]
.tile-slider.services(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": false, "groupCells": true, "initialIndex": "1", "watchCSS": true, "lazyLoad": true }')
	each item, i in dataServices
		.services__item
			.services__title !{item.title}
			.services__price !{item.price}
			if (item.image)
				.services__img
					img(src=item.image)