.services {

	$block-name: &; // #{$block-name}__element

	&__item {
		background-color: var(--color-white);
		border-radius: .625em;
		display: flex;
		flex-direction: column;
		flex-grow: 0;
		padding: 1em .75em;
		transition: var(--transition-time);
		width: calc(70% - var(--grid-gutter) / 2);
		margin-right: 1.5em;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			box-shadow: var(--shadow);
		}
	}

	&__title {
		margin-bottom: .75em;
		width: 150px;
		font-size: var(--font-size-h3);
		font-weight: 500;
		line-height: var(--line-height);
	}

	&__price {
		font-size: var(--font-size--medium);
		color: var(--color-primary);
		line-height: 1.8;
		font-weight: 700;
		border-radius: 6em;
		background-color: var(--color-primary--lighter);
		padding: .25em 0 .25em .25em;
		width: 120px;
		margin-bottom: 1.5em;
	}

	&__img {
		align-items: flex-end;
		display: flex;
		justify-content: flex-end;
    position: relative;
		height: 172px;

		img {
			border-bottom-right-radius: .625em;
			position: absolute;
			right: -.75em;
			bottom: -1em;
			width: 186px;
			height: auto;
		}
	}

	@media (min-width: $screen-md) {
		display: flex;
	  justify-content: center;
	  align-items: center;

		&__item {
			width: calc(33% - var(--grid-gutter) / 2);
			max-width: 264px;
		}

		&__title {
			margin-bottom: 1em;
			width: 200px;
		}

		&__price {
			margin-bottom: 1.5em;
			padding: .25em 0 .25em 1em;
		  width: 150px;
		}

		&__img {
      height: 208px;

			img {
				right: -.75em;
				width: 223px;
			}
		}
	}
}