extends ../layout.pug

block meta
  title Статья
  meta(name='description', content='')

block content
  .wide-block.-no-padding-top
    .page-container
      h1.h2.-no-tt Слепое тестирование: наука оптимизации конверсии
      .article-detail
        .article-detail__img
          img(src="assets/businessman.png")
  .wide-block.-no-padding-top
    .page-container__article
      .article-detail
        p
          | Слепое тестирование на уровне рыночных отношений - это метод исследования, в котором респонденты оценивают тот или иной продукт, минуя получение любой информации о производителе.
        p
          | Данный способ не имеет связи с экспериментальной деятельностью в медицине, кроме общего названия. Даже алгоритм двойного слепого тестирования подразумевает лишь частичное использование метода, заимствованное у научного мира. Речь идет о проверке качества товара, когда экспериментаторы на уровне с респондентами не знают, изделие какого конкретно бренда спрятано в условной пробирке, участвующей в эксперименте.
        p
          | В данной статье рассматриваются те альтернативы метода, что могут оказаться полезными для компании с точки зрения маркетинга.
  .wide-block.wide-block--gradient 
    .page-container__article
      h2 Слепое тестирование: наука оптимизации конверсии
      .article-detail
        p
          | Когда компания решает запустить линию по изготовлению новых товаров, ее руководство хочет прогнозировать ситуацию со сбытом, скоростью получения возврата инвестиций и прочими бизнес показателями. Слепые тестирования помогают понять, на какое реальное место может претендовать производитель среди аналогичных видов продукции.
  .wide-block
    .page-container__article
      h2 Анализ реального кейса зарубежного производителя
      .article-detail
        p
          | Несмотря на факт проведения тестирования мы воздержимся от указания настоящих названий брендов и надеемся на понимание со стороны читателей.
        p
          | Зарубежная компания решила зайти на российский рынок с упаковками детского молока, насыщенного витаминными составами.
        p
          | Целевая аудитория - женщины, использующие в рационе ребенка искусственное подкармливание. Оказалось, что потенциальные покупатели позитивно оценивают конкретный продукт со всеми его улучшениями. Женщины согласны подкармливать детей витаминизированным молоком, но не готовы его покупать. При более глубоком исследовании, представители бренда выяснили, что в России подобный товар можно получить бесплатно на молочной кухне.
        p
          | Этот пример красноречиво говорит о необходимости проведения слепых исследований перед заходом на любой, даже самый перспективный рынок.