extends ../layout.pug

block meta
  title Главная
  meta(name='description', content='')

block content
  include ../../blocks/main-slider/index

  .wide-block.wide-block--gray-lighter
    .page-container
      h2 Наши услуги
      include ../../blocks/our-services/index
  
  .wide-block.wide-block--primary-light
    .page-container__form
      h2
        | Продвижение на особых условиях 
        p.-c-primary за заявку, отправленную прямо здесь и сейчас
      include ../../blocks/form/index
  .wide-block.-half-padding-bottom
    .page-container
      h2.-ta-c
        | Тарифы
      include ../../blocks/table-compare/index
  .wide-block.-half-padding-top.wide-block--cases-fon
    .page-container
      h2.-ta-lc
        | Наши кейсы
      include ../../blocks/our-cases/index
  .wide-block.wide-block--gradient
    .page-container
      h2.-ta-cl
        | Наши преимущества
      include ../../blocks/our-advantages/index