extends ../layout.pug

block meta
  title О компании
  meta(name='description', content='')

block content
  .wide-block.-no-padding-top
    .page-container
      h1.h2 О компании
      include ../../blocks/company-slider/index
  .wide-block
    .page-container
      p
        | Интернет-агентство «ИЕСА» разрабатывает и реализует стратегии привлечения клиентов через Интернет (от создания сайтов, до привлечения на них целевой аудитории, аудит текущих решений, все виды рекламы в сети Интернет).
      p
        | Кадры решают все! В компании работают лучшие специалисты. Постоянный рост сотрудников — это основное требование в компании. Сотрудники компании являются постоянными участниками семинаров, вебинаров, конференций по созданию сайтов, поисковой оптимизации и интернет-маркетингу. Внутри компании проводятся обучающие семинары для всех сотрудников. Для клиентов интернет-агентства «ИЕСА» регулярно проводятся семинары и бизнес-завтраки.
  .wide-block
    .page-container
      include ../../blocks/clients-slider/index