extends ../layout.pug

block meta
  title Примеры наших проектов
  meta(name='description', content='')

block content
  .wide-block.-no-padding-top
    .page-container
      h1.h2.-no-tt Примеры наших проектов
      include ../../blocks/portfolio/index