.review-slider(data-flickity-options='{ "draggable": false, "autoPlay": "true", "freeScroll": "true", "wrapAround": "true", "cellAlign": "left", "prevNextButtons": true, "groupCells": false }')
  a.review-slider__slide(href="#")
    img(src="assets/henkel.png" width="120" alt="")
  a.review-slider__slide(href="#")
    img(src="assets/runivers.png" width="120" alt="")
  a.review-slider__slide(href="#")
    img(src="assets/rgup.jpg" width="120" alt="")
  a.review-slider__slide(href="#")
    img(src="assets/intro.png" width="120" alt="")
  a.review-slider__slide(href="#")
    img(src="assets/ekomobile.png" width="120" alt="")
  a.review-slider__slide(href="#")
    img(src="assets/softeffect.jpg" width="120" alt="")
  a.review-slider__slide(href="#")
    img(src="assets/ventmax.jpg" width="120" alt="")
  a.review-slider__slide(href="#")
    img(src="assets/bmaa.jpg" width="120" alt="")
  a.review-slider__slide(href="#")
    img(src="assets/optimelectro.png" width="120" alt="")
  a.review-slider__slide(href="#")
    img(src="assets/driessen.jpg" width="120" alt="")
  a.review-slider__slide(href="#")
    img(src="assets/microflex.jpg" width="120" alt="")
  a.review-slider__slide(href="#")
    img(src="assets/caria.jpg" width="120" alt="")