@use "sass:math";

.advantages {
  padding: 0;
  margin: 0;
 
  &__logo {
    display: none;
  }

  @media (min-width: $screen-md) {
    margin: 13em auto 17em;

    &__logo {
      display: block;
      position: absolute;
      top: 65%;
      left: 30%;
      transform: translateX(50%);
    }
  }

  @media (min-width: $screen-lg) {
    &__logo {
      top: 67%;
      left: 35%;
    }
  }

  @media (min-width: $screen-xl) {
    &__logo {
      top: 69%;
    }
  }

  &__icon {
    width: 77px;
    height: 76px;
    border-radius: 50%;
    flex: 1 0 77px;
    background-color: var(--color-white);
    border: 1px solid var(--color-mint);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 1em;

    @media (min-width: $screen-md) {
      margin-right: 0;
    }

    & svg { 
      width: 100%; 
      fill: var(--color-primary);
    }

    &:before {
      content: counter(tidbit-counter);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -2px;
      right: -5px;
      width: 20px;
      height: 20px;
      background-color: var(--color-primary);
      border-top-right-radius: 7px;
      border-bottom-left-radius: 7px;
      color: var(--color-white);
      font-size: var(--font-size--medium);
      font-weight: 500;
      z-index: 10
    }
  }

  &__info {
    position: static;
    width: 90%;
  
      &-title {
        font-weight: 500;
        font-size: var(--font-size--vast);
        line-height: var(--line-height);
        margin-bottom: .5em;
      }
  
      &-desc {
        font-size: var(--font-size);
        line-height: var(--line-height);
      }
      
      @media (min-width: $screen-md) {
        position: absolute;
        width: 100%;

        &-1 {
          top: -140%;
          left: -55%;
          width: 284px;
        }
        
        &-2 {
          top: -50%;
          left: 145%;
          width: 190px;
        }
        
        &-3 {
          top: 40%;;
          left: 145%;
          width: 196px;
        }
        
        &-4 {
          top: 130%;
          left: -10%;
          width: 247px;
        }
        
        &-5 {
          top: 0;
          left: -210%;
          width: 183px;
        }
        
        &-6 {
          top: -40%;
          left: -210%;
          width: 170px;
        }
      }
        
      @media (min-width: $screen-lg) {
        &-1 {
          left: -50%;
        }
        
        &-2 {
          top: 0;
          left: 160%;
          width: 290px;
        }
        
        &-3 {
          top: 0;
          left: 160%;
          width: 273px;
        }
        
        &-4 {
          top: 130%;
          left: -50%;
        }
        
        &-5 {
          left: -325%;
          width: 270px;
        }
        
        &-6 {
          top: 0;
          left: -325%;
          width: 260px;
        }
      }
  }
}

@mixin distribute-on-circle( 
  $nb-items,
  $circle-size
) {
  $half-parent: math.div($circle-size, 1.75);
  
  position: relative;
  width:  $circle-size;
  height: 17em;
  box-sizing: content-box;
  
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 20%;
    transform: translateX(50%);
  }
  
  $angle: math.div(360, $nb-items);
  $rot: 270;

  @for $i from 1 through $nb-items {
      > :nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
      }

    $rot: ($rot + $angle);
  }
}

.circle {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: my-counter;

  @media (min-width: $screen-md) {
    height: 0;
    border-radius: 50%;
    @include distribute-on-circle(6, 22em);
    margin: 0 auto;
  }

  &__item {
    display: flex;
    margin-bottom: 1em;
    counter-increment: tidbit-counter;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      display: block;
      margin-bottom: 0;
    }
  }
}