.h-scroll.v-scroll
	.h-scroll__container.v-scroll__container
		table.table-compare
			thead
				tr
					th Услуги
					td
						div.table-compare__title В ТОП
						div.table-compare__price 63 000
						| руб/мес
					td
						div.table-compare__title Трафик
						div.table-compare__price от 1,5
						| руб/переход
					td
						div.table-compare__title Заявки
						div.table-compare__price от 105
						| руб/лид
			tbody
				tr
					th.table-compare__main Аналитика
					td.table-compare__main
					td.table-compare__main
					td.table-compare__main
				tr
					th Seo- и технический аудиты
					td.table-compare__available
					td.table-compare__available
					td.table-compare__available
				tr
					th Анализ трафика, конкурентный анализ
					td.table-compare__available
					td.table-compare__available
					td.table-compare__available
				tr
					th Настройка Яндекс.Метрика и Google Analytics
					td.table-compare__available
					td.table-comparee__available
					td.table-compare__available
				tr
					th Настройка коллтрекинга
					td.table-compare__not-available
					td.table-compare__available
					td.table-compare__available
				tr
					th Юзабилити аудит
					td.table-compare__not-available
					td.table-compare__not-available
					td.table-compare__available
				tr
					th.table-compare__main Семантическое ядро
					td.table-compare__main
					td.table-compare__main
					td.table-compare__main
				tr
					th.table-compare__main Объем работ
					td.table-compare__main
					td.table-compare__main
					td.table-compare__main
				tr
					th.table-compare__main Юзабилити и развитие сайта
					td.table-compare__main
					td.table-compare__main
					td.table-compare__main
				tr
					th.table-compare__main Отчетность
					td.table-compare__main
					td.table-compare__main
					td.table-compare__main