.main-slider
  .main-slider__item
    .page-container.main-slider__item-inner
      .main-slider__info
        .main-slider__desc Premium Product
        h1.main-slider__title Продвижение сайтов
      .main-slider__form
          include ../form-short/index
