.main-slider
  .main-slider__item
    .page-container.main-slider__item-inner
      .main-slider__info
        .main-slider__desc Premium Product
        div.main-slider__title Продвижение сайтов
      .main-slider__form
        .main-slider__form-inner
          include ../form-short/index
