.main-slider {
	$block-name: &; // #{$block-name}__element

	--min-height: 500px;
	--v-padding: 6em;

	&__item {
    background-image: url(../../blocks/main-slider/images/main-sm.jpg);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		color: var(--color-white);
		display: block;
		min-height: var(--min-height);
		width: 100%;
	}

	&__item-inner {
		display: block;
		padding-top: var(--v-padding);
		padding-bottom: var(--v-padding);
	}

	&__form {
		width: 100%;
		padding: 2em 0 2.5em;
	}

	&__title {
		text-transform: none;
    width: 85%;
	}

	&__desc {
    display: flex;
    justify-content: center;
		font-size: var(--font-size--small);
		font-weight: 500;
    background: #A1D7E0;
    border-radius: 100px;
    padding: 1px 16px;
    width: 138px;
    margin-bottom: 11px;
	}

	@media (min-width: $screen-md) {

    &__form {
      width: 35%;
    }

    &__item {
      background-image: url(../../blocks/main-slider/images/main-md.jpg);
    }

    &__item-inner {
      padding-top: 41px;
    }

		&__title {
      width: 50%;
		}

    &__desc {
      width: 158px;
    }
	}

	@media (min-width: $screen-lg) {
		--min-height: 750px;

    &__item {
      background-image: url(../../blocks/main-slider/images/main-lg.jpg);
    }

    &__item-inner {
      padding-top: 91px;
    }

		&__form {
			display: flex;
			width: 65%;
		}

		&__title {
      width: 55%;
		}

    &__desc {
      width: 158px;
    }
	}
}